@media (max-width:700px) {
    .statistic-icon {
        display: flex;
        flex-direction: column;
    }
    
    .statistic-icon-block__subheader {
        padding-bottom: 50px;
    }
    
    .statistic-icon-separator {
        margin: auto;
        width: 80%;
        margin-bottom: 50px;
    }
}
