.love-pantheon__header {
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 60px;
}

.love-pantheon-img-block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.love-pantheon__img {
    width: 150px;
    height: auto;
}

